@model IEnumerable<efTest3190919.Models.Customer>

@{
    ViewBag.Title = "Index";
}




<div style="margin-top:60px" id="customer"></div>

@section scripts{
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

    <script src="~/Scripts/react/dist/bundle.js"></script>
}